nav {
    font-size: small
}

.box {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 5em;
    padding: 14px;
    margin: 20px;
    background-color: #56f65e;
    overflow: hidden;
    font-size: larger;
}

.boxBig {
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 6vh;
}

.flexbox {
    justify-content: space-between;
    display: flex;
}

a {
    text-decoration: none;
}

p {
    color: black;
}

h1 {
    font-size: 50px;
    margin: 0;
}