h3 {
    text-align: center;
}
div {
    background-image: linear-gradient(to right top, #5662f6, #3541fd);
    width: 50%;
    border-radius: 10px;
    margin:  25px auto;
    padding: 5px;
    text-align: center;
}