h3 {
    text-align: center;
}
div {
    background-image: linear-gradient(to right top,rgb(128, 128, 128), rgb(117, 117, 117));
    width: 50%;
    border-radius: 10px;
    margin:  25px auto;
    padding: 5px;
    text-align: center;
    font-size: larger;
}