div {
    background-image: linear-gradient(to right top, #5662f6, #6c60f7, #805df7, #915af7, #a256f6);
    width: 50%;
    border-radius: 10px;
    margin:  25px auto;
    padding: 5px;
    text-align: center;
}